<template>
  <v-snackbar
    v-model="notification"
    bottom
    left
    :timeout="timeout"
    :color="messageColor"
  >
    <v-icon style="padding-right: 10px"> {{ type }} </v-icon>{{ message }}
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      notification: false,
      message: "",
      type: "mdi-alert-circle ",
      timeout: 2000,
    };
  },
  mounted() {
    this.$bus.$on("alert", (e) => {
      this.notification = true;
      this.message = e.message;
      this.type = e.type ? e.type : "info";
      this.timeout = e.timeout ? e.timeout : 2000;
    });
  },
};
</script>
<style>
.v-snack__content {
  height: auto !important;
}
</style>
