<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6" class="text-center">
      <v-btn href="https://gitlab.com/WtekSupport/forecast"
        >See in GitLab</v-btn
      >
    </v-col>
  </v-row>
</template>
