<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card>
        <v-card-title class="headline">Forecast</v-card-title>
        <v-card-text>
          <e-card-slider
            v-if="$store.state.cities.length"
            @change="changeSlide"
          ></e-card-slider>
          <v-alert v-if="errorText" border="top" color="red lighten-2" dark>
            {{ errorText }}
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <e-add-city></e-add-city>
          <v-spacer />
          <v-btn v-if="$store.state.cities.length" text @click="deleteCity"
            >Delete city</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import eAddCity from "@/components/eAddCity";
import eCardSlider from "@/components/eCardSlider";
export default {
  components: { eAddCity, eCardSlider },
  data() {
    return {
      currentCity: 0,
      isUpdating: false,
      errorText: "",
    };
  },
  mounted() {
    // Updated forecast at start

    for (const index in this.$store.state.cities) {
      this.updateForecast(index);
    }
  },
  methods: {
    updateForecast(index) {
      this.isUpdating = true;
      this.requestWetherAPI({
        q: this.$store.state.cities[index].city,
        appid: this.$config.API_KEY,
        mode: "html",
      })
        .then((res) => {
          this.$store.commit("UPDATE_FORECAST", { index, html: res });
          this.errorText = "";
        })
        .catch(() => {
          this.errorText = "We can`t update weather forecast";
        })
        .finally(() => (this.isLoading = false));
    },
    deleteCity() {
      this.$store.commit("DELETE_CITY", this.currentCity);
    },
    changeSlide(e) {
      this.currentCity = e;
    },
  },
};
</script>
